:root {
    --font-blue: #313750;
    --bg-grey: #EABF9F;
    --border: #B68973;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden;
    background-color: #FAF3E0;
}

* {
    color: var(--font-blue);
    transition: .3s;
}

input,
button {
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid var(--font-blue);
}

.fundo-cinza {
    background-color: var(--bg-grey);
    border: 1px solid var(--border);
}

.caixa {
    box-sizing: border-box;
    padding: 40px;
    margin: 0 auto;

    min-height: 500px;
    height: auto;
    width: 70vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.title {
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 5%;
}

.intro {
    flex-direction: column;
    padding-bottom: 0;
}

.logo {
    width: 50px;
}

.headline {
    font-family: 'Playfair Display', 'Verdana';
    text-transform: uppercase;
    margin: 20px 0 50px 0;
    font-weight: bold;
    font-size: 50px;
}

.headline::after {
    content: '';
    width: 60%;
    height: 3px;
    margin: 10px auto 0 auto;
    background-color: currentColor;
    display: block;
}

.input-area {
    margin: 5% auto;
    padding: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.input-area input {
    box-sizing: border-box;
    padding: 10px;
    height: 50px;
    width: 270px;
}

.btn-contato {
    background-color: var(--font-blue);
    width: 200px;
    height: 50px;
    color: #fff;
}

.btn-contato:hover {
    transform: scale(1.1);
}

.redirects {
    margin: 5% 0 0 0;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    gap: 15%;
}

.redirects a {
    box-sizing: border-box;

    max-width: 30%;
    padding: 5px 15px;
    margin-bottom: 2%;
    border-radius: 2px;

    font-size: 120%;
    text-decoration: none;
    color: var(--font-blue);
    font-weight: 600;
    transition: 0.5s;
}

.redirects a:hover {
    color: #fff;
    box-shadow: inset 200px 0 0 0 var(--font-blue);
}

.vantagens {
    padding: 7% 10vw;
    width: 100vw;
}

.card {
    margin: 10% 0 5% 0;
    background-color: transparent;

    box-sizing: border-box;
    border: none;

    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    gap: 5%;
    flex-wrap: wrap;
}

.card p {
    font-size: 15px;
    margin: 0;
}

.icon {
    border-radius: 50%;
    border: 1px solid var(--border);
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.entregas {
    background-image: url(./assets/briefing.png);
    background-size: 65%;
}

.manual {
    background-image: url(./assets/project.png);
    background-size: 65%;
}

.tempo {
    background-image: url(./assets/five-stars.png);
    background-size: 70%;
}

.feedback {
    background-image: url(./assets/feedback.png);
    background-size: 70%;
}

.projetos-pers {
    background-image: url(./assets/project-pers.png);
    background-size: 70%;
}

.automacao {
    background-image: url(./assets/home-automation.png);
    background-size: 65%;
}

.desc-feature {
    text-align: left;
    width: 65%;
}

.sobre {
    width: 80%;
    padding: 40px 20px;
    justify-content: space-around;
}

.texto-sobre {
    width: 50%;
    text-align: left;
}

.texto-sobre h1::after {
    content: '';
    width: 30%;
    height: 3px;
    margin: 10px auto 0 0;
    background-color: currentColor;
    display: block;
}

.midia {
    min-width: 330px;
    min-height: 200px;
    border: 1px solid var(--border);
    width: 35%;
    height: 60%;
}

.img-escritorio {
    background-image: url(./assets/escritorio.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.como-func {
    width: 80%;
    padding: 40px 20px;
    justify-content: space-around;
}

.desc-como-func {
    min-width: 300px;
    text-align: left;
    width: 50%;
}

.desc-como-func h1 {
    padding-left: 30px;
}

.desc-como-func h1::after {
    content: '';
    width: 30%;
    height: 3px;
    margin: 10px auto 0 0;
    background-color: currentColor;
    display: block;
}

.desc-como-func li {
    margin: 10px 0;
    font-size: 15px;
}

.comentarios {
    padding: 8% 0;
    width: 50%;
    flex-direction: column;
    justify-content: center;
}

.opiniao {
    margin-top: 3%;
}

.opiniao::after {
    content: '';
    display: block;
    width: 20%;
    height: 2px;
    margin: 5% auto;
    background-color: var(--font-blue);
}

.opiniao-nome {
    margin: 0;
    font-weight: 600;
}

.opiniao-profissao {
    font-weight: lighter;
}

.opiniao-icons {
    width: 50%;
    margin: 5% auto 0 auto;
    justify-content: space-evenly;
}

.opiniao-icon {
    margin: 10px;
    border-radius: 50%;
    border: 1px solid var(--border);
    width: 40px;
    height: 40px;
    background-image: url(./assets/user.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}

.selecionada {
    border: 2px solid var(--border);
    transform: scale(1.3);
}

.contato {
    width: 80%;
    padding: 8% 2%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
}

footer p {
    font-weight: lighter;
    width: 40%;
    margin: 0;
}
